<body class="addAccount">
    

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="/dashboard/<%= userId %>">Dashboard</a>

            </ul>
    
            <div class="dropdown ">
                <img src="/images/photo.jpg" class="rounded-circle shadow-4 dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"  style="width: 40px;"
                alt="Avatar"  />
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/viewProfile/<%= userId %>">My Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
            </div>
    
        </div>
    </nav>
    
    
    <div class="container form-size">
        <div class="form-title">
            <h2 class="AccountHead">Add User</h2>
          
        </div>
        <form class="form-id" action="/add/<%= account.id %>" method="POST">
            <div class="form-group accountForm">
                <label for="usr">User Email (User you want to add):</label>
                <input name="email" type="email" class="form-control" id="email" required />
            </div>
    
            <br>
            <button type="submit" class="btn btn-primary" style="width:90px;" >Save</button>
            <button type="reset" class="btn btn-danger" style="width:90px;">Cancel</button>
        </form>
    </div>

    <div class="container p-3">
        <% if (err !== null) { %>
            <% if (err ===  '') { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><%= message %></strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } else { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><%= err %></strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
        <% } %>
    </div>
    
</body>