<body class="addAccount">
    

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="/dashboard/<%= loggedInUserId %>">Dashboard</a>

            </ul>
    
            <div class="dropdown ">
                <img src="/images/photo.jpg" class="rounded-circle shadow-4 dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"  style="width: 40px;"
                alt="Avatar"  />
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/viewProfile/<%= loggedInUserId %>">My Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
            </div>
    
        </div>
    </nav>
    
    
    <div class="container form-size">
        <div class="form-title">
            <h2 class="AccountHead">Update Transaction</h2>
        </div>
        <form class="form-id">
    
            <div class="form-group accountForm">
                <label for="usr">Type : </label>
                <select class="form-select" aria-label="Default select example" name="types" id="types" value="<%= transaction.types %>">
                    <% if(transaction.types == 'Income') { %>
                        <option selected>Income</option>
                        <option >Expense</option>
                        <option >Transfer</option>
                    <% } %>
                    <% if(transaction.types == 'Expense') { %>
                        <option selected>Expense</option>
                        <option>Income</option>
                        <option>Transfer</option>
                    <% } %>
                    <% if(transaction.types == 'Transfer') { %>
                        <option selected>Transfer</option>
                        <option>Income</option>
                        <option>Expense</option>
                    <% } %>
                </select>
            </div>

            <div class="form-group accountForm">
                <label for="usr">Enter Amount in rupees : </label>
                <input name="amount" type="number" class="form-control" id="amount" value="<%= transaction.amount %>" min="1">
            </div>

            <br>
            <button type="button" class="btn btn-primary transaction" style="width:90px;" data-id="<%= transaction.id %>" disabled>Update</button>
        </form>
    </div>
    

    </body>
    
    
    